# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Streamlit secrets and credentials
credentials.json
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode
.vscode/

# Environment
.env
.venv/
env/
venv/

# Logs
*.log

# Cache
*.cache/
.cache/

# Misc
*.sqlite3
*.db
